03_Desarrollando_en_node/node_modules/
04_Desarrollando_en_node_logger/node_modules/
05_s04_typeScript/dist/
05_s04_typeScript/node_modules/
06_s05_testing/dist/
06_s05_testing/node_modules/

07_s06_multiplication/dist/
07_s06_multiplication/node_modules/

08_s06_multiplication-arquitectura-limpia/dist/
08_s06_multiplication-arquitectura-limpia/node_modules/

09_s07_multiplication-app-consola-testing/dist/
09_s07_multiplication-app-consola-testing/node_modules/

10_s08_app_noc/node_modules/

11_s08_json_server/node_modules/

12_s08_app_noc_inyeccion_dependencias/node_modules/

13_s09_app_noc_arquitectura_limpia/node_modules/

14_s09_app_noc_arq_limpia_variablesEntorno/node_modules/

15_s10_app_noc_emails/node_modules/

16_s10_app_noc_emails_con_useCase/node_modules/

17_s11_app_noc_databases_mongo/mongo/
17_s11_app_noc_databases_mongo/node_modules/

18_s11_app_noc_db_mongo/mongo/
18_s11_app_noc_db_mongo/node_modules/

19_s11_app_noc_db_postgres/mongo/
19_s11_app_noc_db_postgres/postgres/
19_s11_app_noc_db_postgres/node_modules/

20_s11_app_noc_db_postgres_2/mongo/
20_s11_app_noc_db_postgres_2/postgres/
20_s11_app_noc_db_postgres_2/node_modules/

21_s11_app_noc_db__fileSystem_mongo_postgres/mongo/
21_s11_app_noc_db__fileSystem_mongo_postgres/postgres/
21_s11_app_noc_db__fileSystem_mongo_postgres/node_modules/


22_s12_app_noc_fileSystem_mongo_postgres_testing/mongo
22_s12_app_noc_fileSystem_mongo_postgres_testing/postgres
22_s12_app_noc_fileSystem_mongo_postgres_testing/node_modules

23_s13_rest-web/node_modules
23_s13_rest-web/postgres

23_s13_rest-web_original/node_modules

24_s13_rest-web-express/node_modules

25_s14_rest-web-rest-server/node_modules

26_s15_rest-web-rest-server-postgres/node_modules
26_s15_rest-web-rest-server-postgres/postgres

27_s15_rest-web-rest-server-postgres-dto/node_modules
27_s15_rest-web-rest-server-postgres-dto/postgres

28_s16_rest-web-cleanArquitecture/node_modules
28_s16_rest-web-cleanArquitecture/postgres

29_s16_rest-web-cleanArquitecture-useCases-gzipCompression/node_modules
29_s16_rest-web-cleanArquitecture-useCases-gzipCompression/postgres


